<!DOCTYPE html>
<html>
<head><meta charset='UTF-8'><title>Index</title></head>
<body><h1>Index of component\partial</h1><ul>
<li><a href='footer/'>footer/</a></li>
<li><a href='footer.html'>footer.html</a></li>
<li><a href='head/'>head/</a></li>
<li><a href='header/'>header/</a></li>
<li><a href='heading/'>heading/</a></li>
<li><a href='hero/'>hero/</a></li>
<li><a href='hero.html'>hero.html</a></li>
<li><a href='instructions.txt'>instructions.txt</a></li>
<li><a href='navbar/'>navbar/</a></li>
<li><a href='navbar.html'>navbar.html</a></li>
<li><a href='navjs.html'>navjs.html</a></li>
<li><a href='pages/'>pages/</a></li>
<li><a href='sections/'>sections/</a></li>
<li><a href='template/'>template/</a></li>
</ul></body>
</html>