<!DOCTYPE html>
<html>
<head><meta charset='UTF-8'><title>Index</title></head>
<body><h1>Index of component\script\js</h1><ul>
<li><a href='WORKING-THEME-TOGGLE-SCRIPT.js'>WORKING-THEME-TOGGLE-SCRIPT.js</a></li>
<li><a href='dictionary.js'>dictionary.js</a></li>
<li><a href='main.js'>main.js</a></li>
<li><a href='modular/'>modular/</a></li>
<li><a href='separate-navbar-toggle.js'>separate-navbar-toggle.js</a></li>
<li><a href='system-default-theme-toggle.js'>system-default-theme-toggle.js</a></li>
<li><a href='theme.js'>theme.js</a></li>
<li><a href='toggle.js'>toggle.js</a></li>
</ul></body>
</html>