<!DOCTYPE html>
<html>
<head><meta charset='UTF-8'><title>Index</title></head>
<body><h1>Index of component\x</h1><ul>
<li><a href='About page for x.JS'>About page for x.JS</a></li>
<li><a href='Card component for x css.JS'>Card component for x css.JS</a></li>
<li><a href='Contact page for x.JS'>Contact page for x.JS</a></li>
<li><a href='Course page for x.JS'>Course page for x.JS</a></li>
<li><a href='Example page for x css.JS'>Example page for x css.JS</a></li>
<li><a href='Footer for x css.JS'>Footer for x css.JS</a></li>
<li><a href='Hero for x css.JS'>Hero for x css.JS</a></li>
<li><a href='Home page for x.JS'>Home page for x.JS</a></li>
<li><a href='Layout grid system for x css.JS'>Layout grid system for x css.JS</a></li>
<li><a href='MAIN.JS'>MAIN.JS</a></li>
<li><a href='Modular toggle for x css.JS'>Modular toggle for x css.JS</a></li>
<li><a href='Modular toggle for x js.JS'>Modular toggle for x js.JS</a></li>
<li><a href='Nav for x css.JS'>Nav for x css.JS</a></li>
<li><a href='Typograghy for x css.JS'>Typograghy for x css.JS</a></li>
<li><a href='color palette for x css.JS'>color palette for x css.JS</a></li>
<li><a href='x.JS'>x.JS</a></li>
</ul></body>
</html>