I want the file hierachy to be this:

/department/math/prealgebra/home/pre-algebra/

    home.html                   <-- Course Home
    unit1-numbers-operations/
        lesson1-numbers-negative-numbers.html
        lesson2-number-sets.html
        lesson3-identity-numbers.html
        lesson4-opposite-of-a-number.html
        lesson5-adding-subtracting-signed-numbers.html
        lesson6-multiplying-signed-numbers.html
        lesson7-dividing-signed-numbers.html
        lesson8-absolute-value.html
    unit2-factors-multiples/
        lesson9-divisibility.html
        lesson10-multiples.html
        lesson11-prime-composite-numbers.html
        lesson12-prime-factorization.html
        lesson13-least-common-multiple.html
        lesson14-greatest-common-factor.html
    unit3-fractions/
        lesson15-reducing-fractions-cancellation.html
        lesson16-equivalent-fractions.html
        lesson17-division-by-zero.html
        lesson18-adding-subtracting-fractions.html
        lesson19-multiplying-dividing-fractions.html
        lesson20-signs-of-fractions.html
        lesson21-reciprocals.html
    unit4-mixed-numbers/
        lesson22-mixed-numbers-improper-fractions.html
        lesson23-adding-subtracting-mixed-numbers.html
        lesson24-multiplying-dividing-mixed-numbers.html
        lesson25-relationships-of-numbers.html
        lesson26-adding-mixed-measures.html
    unit5-decimals/
        lesson27-place-value.html
        lesson28-decimal-arithmetic.html
        lesson29-repeating-decimals.html
        lesson30-rounding.html
    unit6-ratios-proportions-percents/
        lesson31-ratio-proportion.html
        lesson32-unit-price.html
        lesson33-unit-multipliers.html
        lesson34-percent-percentage-problems.html
        lesson35-percent-increase-decrease.html
        lesson36-simple-interest-real-life-applications.html
    unit7-exponents-radicals/
        lesson37-exponents.html
        lesson38-rules-of-exponents.html
        lesson39-power-rule.html
        lesson40-quotient-rule.html
        lesson41-adding-subtracting-radicals.html
        lesson42-multiplying-radicals.html
        lesson43-dividing-radicals.html
        lesson44-radical-expressions.html
    unit8-scientific-notation/
        lesson45-powers-of-10.html
        lesson46-scientific-notation.html
        lesson47-multiplying-scientific-notation.html
        lesson48-dividing-scientific-notation.html
        lesson49-multiplying-dividing-scientific-notation.html
        lesson50-estimating-scientific-notation.html
    unit9-variables-expressions/
        lesson51-introduction-variables.html
        lesson52-writing-expressions-from-words.html
        lesson53-combining-like-terms.html
        lesson54-evaluating-expressions.html
    unit10-equations-inequalities/
        lesson55-one-step-equations.html
        lesson56-two-step-equations.html
        lesson57-equations-with-fractions.html
        lesson58-solving-inequalities.html
        lesson59-graphing-inequalities.html
    unit11-order-of-operations/
        lesson60-pemdas-whole-numbers.html
        lesson61-pemdas-negative-numbers.html
        lesson62-pemdas-fractions-decimals.html
        lesson63-nested-parentheses.html
    unit12-coordinate-plane-patterns/
        lesson64-plotting-points.html
        lesson65-quadrants-coordinates.html
        lesson66-simple-linear-patterns.html
    unit13-word-problems-problem-solving/
        lesson67-multi-step-word-problems.html
        lesson68-word-problems-fractions-decimals-percents.html
        lesson69-word-problems-using-variables-equations.html
    unit14-basic-geometry/
        lesson70-perimeter-area-formulas.html
        lesson71-volume-formulas.html
        lesson72-using-variables-in-geometry-formulas.html
        lesson73-introduction-coordinate-geometry.html


Here are the unit folder names for your Pre-Algebra course under /department/math/prealgebra/home/pre-algebra/:

unit1-numbers-operations

unit2-factors-multiples

unit3-fractions

unit4-mixed-numbers

unit5-decimals

unit6-ratios-proportions-percents

unit7-exponents-radicals

unit8-scientific-notation

unit9-variables-expressions

unit10-equations-inequalities

unit11-order-of-operations

unit12-coordinate-plane-patterns

unit13-word-problems-problem-solving

unit14-basic-geometry