.breadcrumb {
  display: block;
  text-align: center;
  font-size: 0.9rem;
  margin: 1em 0;
  color: var(--text);
}

.breadcrumb a {
  text-decoration: none;
  color: var(--accent);
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.breadcrumb a::after {
  padding: 0 0.5em;
}