.bottom-nav {

  margin: 2rem auto;
  padding: 1rem;
}

.bottom-nav .btn {
  display: block;
  margin: 0.5rem 0;
  padding: 0.85rem 1rem;
  text-align: center;
  text-decoration: none;
  border-radius: 0.5rem;
}