<!-- ========== BOTTOM PAGE NAVIGATION ========== -->
<section class="bottom-nav">
    <h2>Continue Browsing</h2>
    <a href='#top' class="btn">↑ Back to Top</a>
    <a href="/department/" class="btn">Directory</a>
    <a href="/library/" class="btn">Library</a>
    <a class="btn" href="/">Site Home</a>
</section>


<!-- ========== BOTTOM PAGE NAVIGATION ========== -->
<section class="bottom-nav">
  <h2>Looking for Something Else?</h2>
    <a href="/department/" class="btn">Department</a>
    <a href="/library/" class="btn">Library</a>
    <a href="/" class="btn">Home</a>
</main>

<!-- ========== FOOTER ========== -->
<div id="footer-placeholder"></div>
<script>
fetch('/component/footer.html')
  .then(response => response.text())
  .then(data => {
    document.getElementById('footer-placeholder').innerHTML = data;

    const uploaded = document.body.dataset.uploaded;
    const updated = document.body.dataset.updated;

    document.getElementById('page-dates').textContent =
      `Uploaded: ${uploaded} | Updated: ${updated}`;
  });
</script>
</body>
</html>