<!DOCTYPE html>
<html>
<head><meta charset='UTF-8'><title>Index</title></head>
<body><h1>Index of component</h1><ul>
<li><a href='Responsive buttons for x css.JS'>Responsive buttons for x css.JS</a></li>
<li><a href='css/'>css/</a></li>
<li><a href='design goals/'>design goals/</a></li>
<li><a href='desktop.ini'>desktop.ini</a></li>
<li><a href='instructions.txt'>instructions.txt</a></li>
<li><a href='library/'>library/</a></li>
<li><a href='pages/'>pages/</a></li>
<li><a href='partials/'>partials/</a></li>
<li><a href='script/'>script/</a></li>
<li><a href='system-1.pp'>system-1.pp</a></li>
<li><a href='templates/'>templates/</a></li>
<li><a href='x/'>x/</a></li>
</ul></body>
</html>